* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: hsl(0, 0%, 98%);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.header {
  text-align: center;
  font-size: 2rem;
  color: hsl(234, 12%, 34%);
}
.description {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 1rem;
  color: hsl(212, 6%, 44%);
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-areas:
    "supervisor team-builder calculator"
    "supervisor karma calculator";
  gap: 2rem;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;
}
.card {
  width: 100%;
  max-width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 25px;
}
.card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: hsl(234, 12%, 34%);
}
.card p {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(212, 6%, 44%);
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card-image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 2rem;
}
.card-image img {
  width: 64px;
  height: 64px;
}
#supervisor {
  grid-area: supervisor;
  border-top: 4px solid #44d3d2;
}
#team-builder {
  grid-area: team-builder;
  border-top: 4px solid #ea5454;
}
#karma {
  grid-area: karma;
  border-top: 4px solid #fcae4a;
}
#calculator {
  grid-area: calculator;
  border-top: 4px solid #549ef2;
}

@media (max-width: 890px) {
  .cards-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      "team-builder team-builder"
      "supervisor karma"
      "calculator calculator";
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 2rem;
  }
  .header {
    font-size: 1.5rem;
  }
  .description {
    font-size: 14px;
  }
  .cards-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "supervisor"
      "team-builder"
      "karma"
      "calculator";
  }
}
